[Desktop Entry]
Name=roscord
Exec=/usr/lib/chat.commet.commetapp/commet %U
Terminal=false
Type=Application
Icon=commet-desktop
StartupWMClass=chat.commet.commetapp
Comment=Your space to connect!
Categories=Network;InstantMessaging;Chat;
