
name: build

on:
  pull_request:
  merge_group:

env:
  PROJECT_PATH: commet

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
        
      - name: Setup Flutter
        uses: subosito/flutter-action@v2.8.0
        with:
          flutter-version: '3.32.4'
          channel: 'stable'

      - name: Configure Flutter
        run: flutter config --enable-windows-desktop
        
      - name: Code Generation
        run: |
          cd .\commet
          git config --global core.longpaths true
          dart run scripts/codegen.dart

      - name: Build Windows App
        run: |
          cd .\commet
          flutter build windows --release --dart-define PLATFORM=windows

  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
        
      - name: Setup Flutter 
        uses: subosito/flutter-action@v2.8.0
        with:
          flutter-version: '3.32.4'
          channel: 'stable'

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Setup Tools
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libolm3 libmpv-dev mpv ffmpeg
        
      - name: Code Generation
        run: |
          cd $PROJECT_PATH
          dart run scripts/codegen.dart

      - name: Build APK
        run: |
          cd $PROJECT_PATH
          flutter build apk --debug --dart-define PLATFORM=android

  build-android-google-services:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
        
      - name: Setup Flutter 
        uses: subosito/flutter-action@v2.8.0
        with:
          flutter-version: '3.32.4'
          channel: 'stable'

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Setup Tools
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libolm3 libmpv-dev mpv ffmpeg
        
      - name: Code Generation
        run: |
          cd $PROJECT_PATH
          git apply scripts/apply_google_services.patch
          dart run scripts/codegen.dart

      - name: Build APK
        run: |
          cd $PROJECT_PATH
          flutter build apk --debug --dart-define ENABLE_GOOGLE_SERVICES=true --dart-define PLATFORM=android

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
        
      - name: Setup Flutter 
        uses: subosito/flutter-action@v2.8.0
        with:
          flutter-version: '3.32.4'
          channel: 'stable'

      - name: Setup Tools
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libolm3 libmpv-dev mpv ffmpeg libmimalloc-dev
        
      - name: Code Generation
        run: |
          cd $PROJECT_PATH
          dart run scripts/codegen.dart
          
      - name: Build Linux
        run: |
          cd $PROJECT_PATH
          flutter build linux --release --dart-define PLATFORM=linux

      - name: Run App
        run: |
          ldd $PROJECT_PATH/build/linux/x64/release/bundle/commet

  build-web:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: 'true'
        
      - name: Setup Flutter 
        uses: subosito/flutter-action@v2.8.0
        with:
          flutter-version: '3.32.4'
          channel: 'stable'

      - name: Setup Tools
        run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev libolm3 libmpv-dev mpv ffmpeg
        
      - name: Code Generation
        run: |
          cd $PROJECT_PATH
          dart run scripts/codegen.dart

      - name: Build Web
        run: |
          cd $PROJECT_PATH
          flutter build web --release --dart-define PLATFORM=web